<!DOCTYPE html>
<html lang="en">
<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 mt-5">
        <div class="card">
          <div class="card-header">
            <h3>Login</h3>
          </div>
          <div class="card-body">
            <!-- why we use this formgroup and formcontrole and small for validation 
            
            -->
            <form [formGroup]="loginForm" >
              <div class="form-group">
                <label for="email">Email:</label>
                <input  formControlName="email"   type="email" class="form-control" id="email" placeholder="Enter your email">
              </div>
              <small *ngIf="loginForm.controls['email'].dirty && loginForm.get('email')?.errors?.['required']" class="text-danger">
                *Email should not be empty*
              </small>
                            
              
                                      
              <div class="form-group"      >
                <label for="password">Password:</label>
                <input  formControlName="password"     type="password" class="form-control" id="password" placeholder="Enter your password">
              </div>
              <small *ngIf="loginForm.controls['password'].dirty && loginForm.get('password')?.errors?.['required']" class="text-danger">
                *password should not be empty*
              </small><br>
              <!-- if loginform invalid the button be disabled -->
              <button (click)="  onLogin()" type="submit" class="btn btn-primary">Login</button>
            </form>
          </div>
          <div>
            Don't have an account?&nbsp;
            <button  (click)="register()"  type="button" class="btn btn-link">
              Register
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
