<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration Page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 mt-5">
        <div class="card">
          <div class="card-header">
            <h3>Registration</h3>
          </div>
          <div class="card-body">
            <form>


               <div class="form-group"  [formGroup]="registerForm" >
                <label for="firstname">First Name:</label>
                <input  formControlName="firstname"    type="text" class="form-control" id="firstname" placeholder="Enter your first name">
                <small *ngIf="registerForm.controls['firstname'].dirty && registerForm.get('firstname')?.errors?.['required']" class="text-danger">
                  *firstname should not be empty*
                </small>
  
              </div>
              <div class="form-group" [formGroup]="registerForm">
                <label   for="lastname">Last Name:</label>
                <input   formControlName="lastname"  type="text" class="form-control" id="lastname" placeholder="Enter your last name">
                <small *ngIf="registerForm.controls['lastname'].dirty &&
                 registerForm.get('lastname')?.errors?.['required']" class="text-danger">
                  *lastname should not be empty*
                </small>
              </div>


              <div class="form-group" [formGroup]="registerForm">
                <label for="email">Email:</label>
                <input formControlName="email"   type="email" class="form-control" id="email" placeholder="Enter your email">
                <small *ngIf="registerForm.controls['email'].dirty &&
                registerForm.get('email')?.errors?.['required']" class="text-danger">
                 *email should not be empty*
               </small>

              </div>
              <div class="form-group" [formGroup]="registerForm"  >
                <label for="password">Password:</label>
                <input  formControlName="password"      type="password" class="form-control" id="password" placeholder="Enter your password">
                <small *ngIf="registerForm.controls['email'].dirty &&
                registerForm.get('email')?.errors?.['required']" class="text-danger">
                 *password should not be empty*
               </small>

              </div>
              <button    (click)="onSignup()"  type="submit" class="btn btn-primary">Register</button> 



              



            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
